<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="P24.BaseUrl" value="https://sandbox.przelewy24.pl" />
    <add key="P24.UserId" value="YOUR_USER_ID" />
    <add key="P24.UserSecret" value="YOUR_USER_SECRET" />
    <add key="P24.CRC" value="YOUR_CRC" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>